/**saks.css v.1.1: developed by MMD17_EAMV; joins and utilizes following (modified) css-libraries, credited below:
Sticky Footer - https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
Fix Version 0.1.1 - https://github.com/jaydenseric/Fix/
Micro Clearfix Hack - http://nicolasgallagher.com/micro-clearfix-hack/
CSS Elastic Videos - http://webdesignerwall.com/tutorials/css-elastic-videos
*/
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
-webkit-tap-highlight-color:transparent}
body,html{height:100%}
/*Husk at deklarerer den font-familie/-familier, som I gerne vil anvende i HTML-filen*/
body{margin:0;line-height:1;font-size:16px;color:#000;display:flex;flex-direction:column}
main,header,nav,section,article,footer{width:100%;max-width:100%}
main{flex:1 0 auto}
li,main{display:block}
dl,h1,h2,h3,h4,h5,h6,ol,p,ul{margin-top:0;margin-bottom:0}
button,iframe{border:0}blockquote,button{margin:0;padding:0}
ol,ul{padding-left:0}dd{margin-left:0}
h1,h2,h3,h4,h5,h6{font-size:inherit}sup{position:relative;top:-.5em;vertical-align:baseline;font-size:75%;line-height:0}
strong{font-weight:700}figure{margin:0}
img,video{border:0;max-width:100%;height:auto;vertical-align:middle}
a,a:active,a:visited{text-decoration:none;color:inherit}
button{text-align:inherit;text-transform:inherit;
font:inherit;-webkit-font-smoothing:inherit;letter-spacing:inherit;background:0 0;
cursor:pointer;overflow:visible}
::-moz-focusinner{border:0;padding:0}
.cf:after,.cf:before{content:" ";display:table}
.cf:after{clear:both}
/*Husk at deklarer "video-wrapper"-klassen inline til at benytte den højde I gerne vil have videoen på*/
/*.video-wrapper{width:560px;max-width:100%}*/
.video-container_1 {position:relative;padding-bottom:56.25%;padding-top:30px;height: 0;overflow:hidden}
.video-container_2 {position:relative;padding-bottom:75%;padding-top:30px;height: 0;overflow:hidden}
.video-container_1 iframe,.video-container_1 object,.video-container_1 embed,.video-container_2 iframe,.video-container_2 object,.video-container_2 embed{position:absolute;top:0;left:0;width:100%;height:100%}
